GITHUB_CLIENT_ID= # your github client id (NO QUOTES)
GITHUB_CLIENT_SECRET= # your github client secret (NO QUOTES)
JWT_SECRET='secret' # don't change this or the app will break
MYSQL_USER= # your mysql username
MYSQL_DATABASE= # your mysql database name
MYSQL_PASSWORD= # your mysql password
MYSQL_HOST= # your mysql host
PORT=3000 # your port number for back (don't change this or the app will break)
